// Variables

// Override Bootstrap Colors
$blue: #174a7e;
$pink: #0f9d9a;

// Redefine Bootstrap State Colors
$primary: $blue;
$secondary: $pink;

// Bootstrap Variable Functions
$enable-negative-margins: true;

// Override Bootstrap Typography Variables
$font-family-sans-serif: 'Plus Jakarta Sans';
$font-weight-light: 300;

// Custom Border Variables
$border-radius-xl: 1rem;
